# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# IDE
.idea/
.vscode/

# Credentials
snowflake_config.json
*.pem
*.key
config/secrets/
